NEXT_PUBLIC_SUPABASE_URL="your-supabase-project-url"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="your-supabase-publishable-key"
# Keep this secure on the server! (Not prefixed with NEXT_PUBLIC_)
SUPABASE_SECRET_KEY="your-supabase-service-role-key"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
NEXT_PUBLIC_CLOUDINARY_API_KEY="your-cloudinary-api-key"
# Do NOT expose Cloudinary API Secret to the client
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"

# Allowed Domain for Login
NEXT_PUBLIC_CAMPUS_EMAIL_DOMAIN="hyderabad.bits-pilani.ac.in"
